body {text-align:center;
}

.btn{
    height:150px;
    width:150px;
    border-radius: 20%;
    border:7px solid black;
    margin:2rem;

}

.btn-container {
    display:flex;
    justify-content:center;
}
.pink{
    background-color: rgb(205, 71, 93);
}
.orange{
    background-color: orange;
}
.green{
    background-color: rgb(82, 234, 82);
}
.purple{
    background-color: purple;
}

.flash{
    background-color: rgb(246, 241, 241);
}

.userFlash{
    background-color:green;
}